@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
}
.cardparent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cardbody{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    max-width: 20rem;
}
.cardbody>img{
    border-radius: 1rem 1rem 0rem 0rem;
    max-height: 15rem;
    object-fit: cover;
    width: 100%;
}
.cardtext{
    padding: 1rem;
    font-family: "Red Hat Display", sans-serif;
}
.cardtext>h2{
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
}
.cardtext>p{
font-size: 0.8rem;
color: grey;
}