<div class="cardparent">
    <div class="cardbody">
        <img alt='card' src="https://c4.wallpaperflare.com/wallpaper/410/867/750/vector-forest-sunset-forest-sunset-forest-wallpaper-preview.jpg"/>
        <div class="cardtext">
            <h2>Title of the card</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam soluta enim, molestiae labore optio reprehenderit voluptas aspernatur nisi laborum saepe quae consequatur quibusdam. Ea eius suscipit porro quidem sed modi!</p>
        </div>
    </div>
    
</div>