<div class="login-signup-page">
    <div class="login-signuppage-box">
        <div  class="loginpage-box" *ngIf="show">
            <h1>Welcome Back</h1>
         
            <form class="Loginpage-form">
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <p>Forgot Password1 ?</p>
                <p (click)="Show()"><b>Dont have an Account ? Sign Up</b> </p>
                <button>Login</button>
            </form>
        </div>
        <div  class="signuppage-box hideclass" *ngIf="!show">
            <h1>SignUp</h1>
         
            <form class="Loginpage-form ">
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm Password" required>
                <p (click)="Show()"><b>Already have an Account ? Login</b> </p>
                <button>Signup</button>
            </form>
        </div>
        <img src="https://img.freepik.com/free-vector/angry-gamer-boy-cartoon-vector-icon-illustration-people-technology-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-3984.jpg?w=740&t=st=1666671209~exp=1666671809~hmac=9f8fd4b71cb4cb5753edfc9d7ddde5fa2325ff714e10d05882aa5f83f67fb488" alt="hero"/>
    </div>
</div>