<div class='navbarbody'>
    <div class='linksparentbody'>
        <h1>Logo</h1>
       <div class='closeicon'>
        <button  [ngClass]="(menuVariable==true)?'hideclass':'showclass'" (click)="opennav(true)" > <fa-icon [icon]="filmIcon"></fa-icon></button>
        <button [ngClass]="(menuVariable==true)?'showclass':'hideclass'" (click)="opennav(false)" > <fa-icon [icon]="crossIcons"></fa-icon></button>
       
       </div>
          </div>
       <div  [ngClass]="(menuVariable==true)?'showclass':'hideclass'">
       <div class='navbarlinks' >
        <a href="#home" class="active">Home</a>
        <a href="#contact">Contact Us</a>
        <a href="#about">About Us</a>
         <button>Sign Up</button>
         
       </div>
    
         
       </div>
     

</div>