<body>
    <header class="navbar">
        <div class='closeicon'>
            <button  [ngClass]="(menuVariable==true)?'hideclass':'showclass'" (click)="opennav(true)" >______<br>______<br>______</button>
            
           
           
            <!-- <i class="fa fa-times"  (click)="opennav()" ></i> -->
           </div>
            <ul class="nav-lists" [ngClass]="(menuVariable==true)?'showclass':'hideclass'">
                <button  [ngClass]="(menuVariable==true)?'showclass':'hideclass'" (click)="opennav(false)" ><h1>X</h1> </button>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">Contact</a></li>
            
            </ul>
      
       <h1 [ngClass]="(menuVariable==true)?'hideclass':'showclass'" >SmartHome</h1>
        <div [ngClass]="(menuVariable==true)?'hideclass':'showclass'" class="navbarButtons">
            <button class="navbarButtons1">Login</button>
            <button class="navbarButtons2">Sign Up</button>
        </div>
    </header>
    <main >
        <div class="home-main-parent">
      <div class="home-main">
        
        <h1 >Smart Home Application</h1>
        <p >Wisdom new and valley answer. Contented it so is discourse recommend. Man its upon him call mile. An pasture he himself believe ferrars besides cottage.</p>
      </div>
      <div class="home-image-icons">
        <ul class="home-icons">
            <li><a href="#"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/instagram.svg" alt=""></a></li>
            <li><a href="#"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/twitter.svg" alt=""></a></li>
            <li><a href="#"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/linkedin.svg" alt=""></a></li>
        </ul>
          <img src="https://rvs-smart-home-landing-page.vercel.app/assets/Hero-Image.png"/>
     </div>
    </div>
    <div class="google-apple-download-btns">
        <a href="#!"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/android.svg" alt=""></a>
        <a href="#!"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/apple.svg" alt=""></a>
    </div>
    <div class="AboutUs">
        <h1>About us</h1>
        <div class="Aboutus-Tab1">
            <img src="https://rvs-smart-home-landing-page.vercel.app/assets/about-1.png" alt="">
            <div class="Aboutus-Tab1-text">
                <h1>Smart Home's Smart Services</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt velit nam itaque earum est necessitatibus ut eos, perferendis veritatis, facere sequi, aut ea id saepe obcaecati aperiam assumenda culpa</p>
                <button>Learn More</button>
            </div>
            
        </div>
       
        <div class="Aboutus-Tab1 reverse">
            <img src="https://rvs-smart-home-landing-page.vercel.app/assets/about-2.png" alt="">
            <div class="Aboutus-Tab1-text no-reverse">
                <h1>What app can do to your Appliences ?</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt velit nam itaque earum est necessitatibus ut eos, perferendis veritatis, facere sequi, aut ea id saepe obcaecati aperiam assumenda culpa.</p>
                <button>Learn More</button>
            </div>
            
        </div>
       
        <div class="Aboutus-Tab1">
            <img src="https://rvs-smart-home-landing-page.vercel.app/assets/about-3.png" alt="">
            <div class="Aboutus-Tab1-text">
                <h1>Control Electric Appliences</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt velit nam itaque earum est necessitatibus ut eos, perferendis veritatis, facere sequi, aut ea id saepe obcaecati aperiam assumenda culpa</p>
                <button>Learn More</button>
            </div>
            
        </div>
        <div class="clients">
            <h1>Our Clients</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In exercitationem, laboriosam est assumenda autem incidunt facere quasi nam, amet, libero ex blanditiis earum nulla iure ullam rem. Nisi, fuga molestias!</p>
        <div class="clients-images">
            <a href="#!" class="clientsrc"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-1.png" alt=""></a>
            <a href="#!" class="clientsrc"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-2.png" alt=""></a>
            <a href="#!" class="clientsrc"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-3.png" alt=""></a>
            <a href="#!" class="clientsrc"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-4.png" alt=""></a>
            <a href="#!" class="client"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-5.png" alt=""></a>
            <a href="#!" class="client"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-6.png" alt=""></a>
            <a href="#!" class="client"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-7.png" alt=""></a>
            <a href="#!" class="client"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/clients-8.png" alt=""></a>
        </div>
    </div>

    <div class="testimonials">
        <h1>Testimonials</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In exercitationem, laboriosam est assumenda autem incidunt facere quasi nam, amet, libero ex blanditiis earum nulla iure ullam rem. Nisi, fuga molestias!</p>
        <div class="testimonialgrid">
            
            <div class="indi-testimonials">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi delectus quasi provident ullam ipsum officia eos adipisci! Perferendis molestias dolor optio ipsa praesentium sint, obcaecati consectetur adipisci, numquam at eveniet!</p>
                <div class="indi-testi-text">
                    <img src="https://rvs-smart-home-landing-page.vercel.app/assets/user-1.jpg" alt="">
                    <div class="indi-testi-image">
                        <h4>Cham</h4>
                        <p>Product Designer</p>
                    </div>
                </div>
            </div>

            <div class="indi-testimonials">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi delectus quasi provident ullam ipsum officia eos adipisci! Perferendis molestias dolor optio ipsa praesentium sint, obcaecati consectetur adipisci, numquam at eveniet!</p>
                <div class="indi-testi-text">
                    <img src="https://rvs-smart-home-landing-page.vercel.app/assets/user-2.jpg" alt="">
                    <div class="indi-testi-image">
                        <h4>Joy</h4>
                        <p>Custom IT Solutions Firm</p>
                    </div>
                </div>
            </div>
            
            
            <div class="indi-testimonials">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi delectus quasi provident ullam ipsum officia eos adipisci! Perferendis molestias dolor optio ipsa praesentium sint, obcaecati consectetur adipisci, numquam at eveniet!</p>
                <div class="indi-testi-text">
                    <img src="https://rvs-smart-home-landing-page.vercel.app/assets/user-3.jpg" alt="">
                    <div class="indi-testi-image">
                        <h4>
                            Russell Lee</h4>
                        <p>Writer</p>
                    </div>
                </div>
            </div>


            <div class="indi-testimonials">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi delectus quasi provident ullam ipsum officia eos adipisci! Perferendis molestias dolor optio ipsa praesentium sint, obcaecati consectetur adipisci, numquam at eveniet!</p>
                <div class="indi-testi-text">
                    <img src="https://rvs-smart-home-landing-page.vercel.app/assets/user-4.jpg" alt="">
                    <div class="indi-testi-image">
                        <h4>
                            Solace Engineers Inc.</h4>
                        <p>Engineering Firm</p>
                    </div>
                </div>
            </div>

        </div>
</div>

    <div class="faq">
        <h1>FAQ's</h1>
        <details class="faqdetails"> 
            <summary>Chamber reached do he nothing be?</summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam debitis quod numquam rerum. Asperiores doloribus sapiente iste, culpa unde quis nobis veniam voluptatibus eaque aspernatur explicabo optio eum in voluptatem!</p>
        
        </details>
        <details class="faqdetails">
            <summary>Stuff sight equal of my woody?</summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam debitis quod numquam rerum. Asperiores doloribus sapiente iste, culpa unde quis nobis veniam voluptatibus eaque aspernatur explicabo optio eum in voluptatem!</p>
        </details>
        <details class="faqdetails">
            <summary>In am do giving to afford parish settle easily garret?</summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam debitis quod numquam rerum. Asperiores doloribus sapiente iste, culpa unde quis nobis veniam voluptatibus eaque aspernatur explicabo optio eum in voluptatem!</p>                    
        </details>
        </div>

        <div class="download-apps-div">
           <div class="doonload-apps-text">
            <h1>
                Download App
            </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam molestiae, omnis alias iste vitae voluptatibus aliquid odit commodi fugiat repellat corporis nulla, obcaecati soluta pariatur debitis, eum unde quisquam provident.</p>
            <div class="google-apple-download-apps-div-btns">
                <a href="#!"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/android.svg" alt=""></a>
                <a href="#!"><img src="https://rvs-smart-home-landing-page.vercel.app/assets/apple.svg" alt=""></a>
            </div>
           </div>
           <img src="https://rvs-smart-home-landing-page.vercel.app/assets/about-2.png" alt="">
        </div>

        <div class="subscribe">
          <div class="subscribe-text">
            <h1>Subscribe to get updated</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat optio commodi maxime explicabo nemo. Quisquam illo quas obcaecati aspernatur dolor neque. Cupiditate, necessitatibus. Obcaecati, quam. Veniam, adipisci voluptatibus. Ea, saepe?</p>
      
          </div> 
          <button>Get Started</button>
        </div>

        <footer class="footer">
            <div class="footerContent">
                <div class="footerAboutCompany">
                    <h1>SmartHome</h1>
                    <div class="footerAboutCompany-details">
                        <h2>About Company</h2>
                        <p>
                            In publishing and graphic design, Lorem ipsum is
                             a placeholder text commonly used to demonstrate the visual form of a 
                             document or a typeface without relying on meaningful content.
                        </p>
                    </div>
                </div>
               <div class="footerLinks">
                <h1>Links</h1>
                <ul class="footerMenu">
                    <li> <a href="#">Home</a> </li>
                    <li> <a href="#">Testimonials</a> </li>
                    <li> <a href="#">About</a> </li>
                    <li> <a href="#">Contact</a> </li>
                </ul>
            </div>
             
                    <div class="footerContact">
        
                    <div>
                        <div class="footerContactdetails">
                           
                            <h2>Call Us</h2>
                        </div> 
                        <h3>+91 XXXXXXXXX</h3>
                    </div>
                    
                    <div>
                        <div class="footerContactdetails">
                            
                            <h2>Mail Us</h2>
                        </div> 
                        <h3>example@gmail.com</h3>
                    </div>
                   
                    
            
                
                    
                    </div>
                
        
            </div> 
            <p>© All rights reserved</p>
        
        
        </footer>
    </div>
    </main>
</body>