@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
body{
    margin: 0px;
    padding: 0px;
}
.closeicon{
    display: none;
}
.hideclass{
    display: block;
}
.showclass{
    display: block;
}
.navbar{
    display: flex;
    padding: 1rem;
    font-family: 'Roboto';
    align-items: center;
    justify-content: space-between;
    background-color: #1E5AFA;
}
.nav-lists{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}
.nav-lists>button{
    display: none;
}
.nav-lists>li>a{
    text-decoration: none;
    color: white;
}
.navbar>h1{
    color: white;
}
.navbarButtons{
    display: flex;
gap: 1rem;
}
.navbarButtons1{
    padding: 0.5rem 1rem;
    background: none;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.navbarButtons2{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: 600;
}
.home-main-parent{
    background-color: #1E5AFA;
    color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.home-main{
    text-align: center;
    max-width: 50%;
    font-family: 'Roboto';
    padding: 1rem;
}
.home-main>h1{
    font-size: 5rem;
    padding-bottom: 1rem;
}
.home-image-icons{
    background: linear-gradient(  #1E5AFA 50%,white 50%);
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
    
    width: 100%;
}
.home-icons{
 max-height: 20rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-end;
 gap: 1rem;
 list-style: none;
}
.home-image-icons>img{
    width: 100%;
}
.home-icons>li>a{
    justify-content: center;
    align-items: center;
}
.home-icons>li>a>img{
    width: 100%;
    

}
.google-apple-download-btns{
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 1rem;
}
.google-apple-download-btns>a{
    background-color: black;
    padding: 1rem;
    
    border-radius: 1rem;
}
.AboutUs{
    margin-top: 3rem;
    color: rgb(65, 65, 65);
}
.AboutUs>h1{
font-size: 4rem;
text-align: center;
}
.Aboutus-Tab1{
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: space-evenly;
    
    align-items: center;
}
.reverse{
    direction: rtl;
}
.no-reverse{
   direction: ltr;
}
.Aboutus-Tab1>img{
    width: 100%;
    background: linear-gradient( white 50%, #1E5AFA 50%);
}
.Aboutus-Tab1-text{
    text-align: center;

}
.Aboutus-Tab1-text>h1{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.Aboutus-Tab1-text>button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    background-color: white;
    font-weight: 600;
    border-color: black;
}
.Aboutus-Tab1-text>button:hover{
    background-color: #1E5AFA;
    border: none;
    color: white;
}

.clients{
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
}
.clients>h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.clients-images{
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  align-items: center;
  justify-content: space-evenly;
  
}

.clients-images>a>img{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 100%
    
}
.testimonials{
    padding: 2rem;
    text-align: center;
}
.testimonials>h1{
    font-size: 3rem;
  margin-bottom: 1rem;
}
.testimonialgrid{
    display: grid;
    margin-top: 3rem;
    gap: 2rem;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
}
.indi-testimonials{
    text-align: start;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid #dadbdd ;
}
.indi-testi-text{
    display: flex;
    margin-top: 1rem;
    text-align: start;
    gap: 1rem;
    align-items: center;
}
.indi-testi-text>img{
  border-radius: 50%;
  width: 4rem;
}
.faq{
    padding: 2rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.faq>h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.faqdetails{
    padding: 1rem;
    width: 60%;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid #dadbdd ;
}
.faqdetails>p{
    margin-top: 1rem;
}
.download-apps-div{
    display: grid;
    padding: 2rem;
    justify-content: space-evenly;
align-items: center;
    grid-template-columns: 50% 40%;
}
.download-apps-div>img{
width: 100%;
}
.doonload-apps-text>h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.google-apple-download-apps-div-btns{
    display: flex;
    align-items: center;
    margin-top: 2rem;
   gap: 1rem;
}
.google-apple-download-apps-div-btns>a{
    background-color: black;
    padding: 1rem;
    
    border-radius: 1rem;
}
.google-apple-download-apps-div-btns>a>img{
    height: 2rem;

}
.subscribe{
    display: flex;
    margin: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    gap: 2rem;
    background-color: #1E5AFA;
    color: white;
    align-items: center;
}
.subscribe-text>h1{
    margin-bottom: 1rem;
}
.subscribe>button{
    height: 4rem;
    font-size: 1rem;
    background-color: #1E5AFA;
    border: 0.2rem solid white;
    color: white;
    font-weight: 600;
    width: 30%;   
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}

.footer{
 background-color: #1E5AFA;  
 padding:1rem ;

}
.footerContent{
    display:grid;
    grid-template-columns: 35% 20% 20% 20%;
    font-family: "Poppins",'Times New Roman', Times, serif;
    color: white;
    justify-content: space-between;
}
.footerAboutCompany{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.footerAboutCompany>h1{
    font-size: 4rem;
}
.footerLinks{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footerMenu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
   text-align: center;
}
.footerMenu>li>a{
    text-decoration: none;
    color: white;
}
.footerContact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.footerContactdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.contact-icons{
    font-size: 1.6rem;
}
.footerIcons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style:none;
}
.color-white{
    color: white;
    font-size:2.5rem;
}
.footer>p{
    border-top: solid 0.2rem;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 950px){
    .home-main{
        text-align: center;
        max-width: 70%;
        font-family: 'Roboto';
        padding: 1rem;
    }
    .home-main>h1{
        font-size: 4rem;
        padding-bottom: 1rem;
    }
    .home-image-icons{
        background: linear-gradient(  #1E5AFA 50%,white 50%);
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        
        width: 100%;
    }
    .home-icons{
        max-height: 20rem;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        list-style: none;
       }
       .home-icons>li>a>img{
        width: 2rem;
        margin-top: 1rem;
        
    
    }
    .AboutUs>h1{
        font-size: 3rem;
        text-align: center;
        }
        .Aboutus-Tab1-text>h1{
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }
        .Aboutus-Tab1-text>p{
            font-size: 1rem;
        }
        .faqdetails{
            padding: 1rem;
            width: 80%;
            background-color: rgb(245, 245, 245);
            padding: 1rem;
            border-radius: 1rem;
            border: 0.1rem solid #dadbdd ;
        }
        .doonload-apps-text>h1{
            font-size: 2.5rem;
            margin-bottom: 1rem;
          }
          .subscribe{
            display: flex;
            margin: 1rem;
            padding: 3rem;
            border-radius: 1rem;
            gap: 2rem;
            background-color: #1E5AFA;
            color: white;
            align-items: center;
        }
    .footerContent{
        display:grid;
        grid-template-columns: auto;
        font-family: "Poppins",'Times New Roman', Times, serif;
        color: white;
        gap: 2rem;
        justify-content: space-between;
    }
    .footerAboutCompany{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
   
    .footerAboutCompany>h1{
        font-size: 4rem;
    }
    .footerAboutCompany-details{
        max-width: 50%;
    }
    .footerLinks{
        display: flex;
        gap: 1rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .footerMenu{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        list-style: none;
       text-align: center;
    }
    .footerContact{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    .footerIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style:none;
    }
    .color-white{
        color: white;
        font-size:2rem;
    }
}

@media screen and (max-width: 600px){
.closeicon{
    display: block;
}
    .closeicon>button{
    color: white;
    border: none;
    background-color: #1E5AFA;
   }
    .nav-lists>button{
        display: block;
    color: white;
    font-size: 1.5rem;
    border: none;
    background-color: #1E5AFA;
   }
   .nav-lists{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}
    .nav-lists>li>a{
        text-decoration: none;
        color: white;
        width: 100%;
        
        font-size: 1.5rem;
    
    }
    .hideclass{
        display: none;
    }
    .showclass{
        display: block;
    }
    .home-main>h1{
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    .Aboutus-Tab1{
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        gap: 1rem;
        width: 100%;
        justify-items: center;
        align-items: center;
    }
    .Aboutus-Tab1>img{
        width: 50%;
        
        background: linear-gradient( white 50%, #1E5AFA 50%);
    }
    .testimonialgrid{
        display: grid;
        margin-top: 2rem;
        gap: 1rem;
        grid-template-columns: auto;
        justify-content: space-evenly;
    }
    .download-apps-div{
        display: grid;
        padding: 2rem;
        justify-content: space-evenly;
    align-items: center;
        grid-template-columns: auto;
    }
    .google-apple-download-apps-div-btns{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        justify-content: center;
       gap: 1rem;
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        gap: 2rem;
        background-color: #1E5AFA;
        color: white;
        align-items: center;
    }
    .doonload-apps-text{
        text-align: center;
    }
    .doonload-apps-text>h1{
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    .footerContent{
        display:grid;
        grid-template-columns: auto;
        font-family: "Poppins",'Times New Roman', Times, serif;
        color: white;
        gap: 2rem;
        justify-content: space-between;
    }
    .footerAboutCompany{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
   
    .footerAboutCompany>h1{
        font-size: 3rem;
    }
    .footerAboutCompany-details{
        max-width: 100%;
    }
    .footerLinks{
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footerMenu{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        list-style: none;
       text-align: center;
    }
    .footerContact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        
    }
    .footerIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style:none;
    }
    .color-white{
        color: white;
        font-size:2rem;
    }

}