<div class="Navbarbody">
    <h1>Logo</h1>
   <div class="icons">
    <button  [ngClass]="(menuVariable==true)?'hide':'show'" (click)="opennav(true)" > <fa-icon [icon]="filmIcon"></fa-icon></button>
        <button [ngClass]="(menuVariable==true)?'show':'hide'" (click)="opennav(false)" > <fa-icon [icon]="crossIcons"></fa-icon></button>
       
   </div>
    <ul [ngClass]="(menuVariable==true)?'active':'inactive'" class="Navbarlinks" id="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">About</a></li>
    </ul>
  <button [ngClass]="(menuVariable==true)?'show':'hide'" class="Navbarlinkbutton" id="linksbutton">Contact US</button>
    
</div>