<div class="Loginpage">
    <div id="Login" class="Loginpage-box" *ngIf="show">
        <img src="https://www.pngmart.com/files/21/Admin-Profile-PNG-Clipart.png" alt="hero"/>
        <h1>Welcome Back</h1>
     
        <form class="Loginpage-form" >
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <p>Forgot Password1 ?</p>
            <p (click)="Show()"><b>Dont have an Account ? Sign Up</b> </p>
            <button>Login</button>
        </form>
    </div>
    <div id="signup" class="signuppage-box " *ngIf="!show">
        <h1>SignUp</h1>
     
        <form class="Loginpage-form ">
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <p (click)="Show()"><b>Already have an Account ? Login</b> </p>
            <button>Signup</button>
        </form>
    </div>

</div>
