@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Loginpage{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.Loginpage-box{
    max-width: 22rem;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.Loginpage-box>img{
    width: 30%;
}
.Loginpage-box>h1{
  font-family: "Sofia" ,sans-serif;
  color: #5686E1;
}
.Loginpage-box>p{
    color: #5686E1;
    text-align: end;
}
.Loginpage-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.Loginpage-form>input{
    padding: 0.5rem;
    border: none;
    font-size: 1rem;

    color: #5686E1;
    border-bottom: 0.15rem solid #5686E1;
    background-color: transparent;
}
.Loginpage-form>input:focus{
    outline: none;
}
.Loginpage-form>input::placeholder{
    color: #5686E1;
    font-size: 1rem;
    font-weight: 500;
}
.Loginpage-form>p{
    color: #5686E1;
    cursor: pointer;
    text-align: center;
}
.Loginpage-form>button{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 1rem;
    background-color: #5686E1;
    color: white;
}
.Loginpage-form>button:hover{
    background-color: white;
    border: 0.1rem solid #5686E1;
    color: #5686E1;
    cursor: pointer;
}
.signuppage-box{
     width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signuppage-box>h1{
    font-family: "Sofia" ,sans-serif;
    color: #5686E1;
  }

  @media screen and (max-width: 600px){
    .Loginpage{
        height: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .Loginpage-box{
        max-width: 100%;
        display: grid;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: none;
        
    }
    .signuppage-box{
        width: 100%;
       display: none;
       flex-direction: column;
       gap: 1rem;
       justify-content: center;
       align-items: center;
       justify-items: center;
       padding: 2rem;
       border-radius: 1rem;
       box-shadow: none;
   }


  }