.flip-card {
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background-color: #bbb;
    
    color: black;
  }
  .flip-card-front>img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: fill;
  }
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    
  }
  .flip-card-back>p,h1{
    padding: 0.5rem;
  }
  @media screen and (max-width: 600px){
    .flip-card {
      background-color: transparent;
      width: 15rem;
      height: 15rem;
      perspective: 1000px;
    }
    

  }